/* Style sheet with conditions for Internet Explorer. */

hr {
  margin:                 -8px 0 -7px 0;
}

#header {
	margin-top: 0px;
	position: relative;
}

#header li a {
  padding:                5px 1.2em 1em 2.4em;
}


/* Vertically centering images */
ul#thumbnails li div a {
	display:                block;
}
ul#thumbnails li div span.ie {
	display:                inline-block;
	vertical-align:         middle;
	height:                 100%;
}
ul#thumbnails li div img {
	vertical-align:         middle;
}


.second {
  bottom:                 40px;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
	filter:                 alpha(opacity=70);
}

body#selection #selection_size {
  right:                  34.25em;
}

.moved_to_cart {
	filter:                 alpha(opacity=30);
}

label {
	margin-top:             .3em;
}

#submit_button {
	width:                  12em;
	margin-left:            43%;
}

/* IE7: */
*:first-child + html #facebox a {
	right:                  -18px;
}